<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/css/post.css">
  <title>Single Post</title>
</head>

<body>
  <h1 class="title">Single Post</h1>
  <div class="post-details">
      <p><a href="/u/<%= post.author?.id %>"><%= post.author?.username%></a> <%= post.timestamp.toLocaleString('en-US') %>
      </p>
    </p>
    <p><%= post.content %>
    </p>
  </div>

  <hr>

  <div class="add-comment">
    <h2>Add Comment</h2>
    <button class="addCommentButton" data-comment-id="<%= post.id %>">Add Comment</button>
  </div>

  <hr>

  <div id="commentsContainer" class="comments-container">
    <h2>Comments</h2>

    <% function displayComments(comments, depth) { %>
      <% comments?.forEach(function(comment) { %>
        <div class="comment">
          <p><%= comment.content %>
          </p>
          <p><a href="/u/<%= post.author?.id %>"><%= post.author?.username%></a> <%= post.timestamp.toLocaleString('en-US') %>
          </p>
          <hr>
          <button class="addCommentButton" data-comment-id="<%= comment.id %>">Reply</button>
          <a href="/p/<%= comment.id %>">
              Link to this comment
            </a>
          <% if (comment.linkedPosts && comment.linkedPosts.length> 0) { %>
            <div class="nested-comments" style="margin-left: 20px;">
              <%= displayComments(comment.linkedPosts, depth + 1) %>
            </div>
            <% } %>
        </div>
        <% }); %>
          <% } %>

            <% if (post.linkedPosts?.length===0) { %>
              <p>No comments yet.</p>
              <% } else { %>
                <%= displayComments(post.linkedPosts, 0) %>
                  <% } %>
  </div>
  <script src="/script/post.js"></script>
</body>
</html>
